<h3 class="ms-accentText" id="headScriptTitle">JavaScript</h3>
<div class="sectionDescription">
    JavaScript references can be regular links (http://site.com/Style Library/style.js) or relative links (/Style Library/style.js)
</div>

<form id="updateScriptLinksForm" method="get" action="">

    <table id="formTemplates" class="table table-plain table-icon-primary" style="margin-top: 10px;float:left;table-layout: fixed;">

        <thead>
            <tr>
                <th style="width: 20%">Title</th>
                <th style="width: 45%">Script Source Url</th>
                <th style="width: 15%">Sequence</th>
                <th style="width: 20%"></th>
            </tr>
        </thead>
        <tbody>

            {{#each item in ScriptLinks }}
            <tr>
                {{#if item.IsEditing}}
                <td>{{ input type="text" id="scriptLinkTitle" name="scriptLinkTitle" value=item.Title class="form-control" required=true}}</td>
                <td>{{ input type="text" id="scriptLinkSrc" name="scriptLinkSrc" value=item.ScriptSrc class="form-control" required=true}}</td>
                <td>{{ input type="text" id="scriptLinkSeq" name="scriptLinkSeq" value=item.Sequence class="form-control"  digits=true maxlength=3}}</td>
                {{else}}
                <td style="word-wrap: break-word">{{item.Title}}</td>
                <td style="word-wrap: break-word">{{item.ScriptSrc}}</td>
                <td style="word-wrap: break-word">{{item.Sequence}}</td>
                {{/if}}

                <td>
                    {{#if item.IsEditing}}
                    <button {{ action 'updateRow' item }} type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Update
                    </button>
                    <button {{ action 'cancelRow' item }} type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                    </button>
                    {{else}}
                    <button {{ action 'editRow' item }} type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </button>
                    <button {{ action 'deleteRow' item }} type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                    </button>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align:center">

                    <button {{ action 'addRow' }} type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add
                    </button>

                </td>
            </tr>
        </tfoot>
    </table>
    <div class="col-md-12" style="clear:left">
        <div id="scriptError" class="alert-danger alert" data-alert="alert" role="alert">
            <p>Oh no. An error has occurred. Please give the following information to your administrator so they can fix the issue...</p>
            <div id="scriptErrorDetails" class="errorDetails"></div>
        </div>
        <div id="scriptSuccess" class="alert-info alert" data-alert="alert" role="alert">
            <p><strong>Success:</strong> Your changes have been made.</p>
        </div>
    </div>
</form>

